---
import ImageCenter from "@components/base/ImageCenter.astro";
import LayoutProd from "@layouts/LayoutProd.astro";
import {imgW03} from "@lib/images"

const title = "Señalización Víal"
const desc ="Contamos con una amplia gama de señalización vial te permite cumplir con todas las normativas y garantizar un entorno seguro.";
const imgtop = imgW03.url
const txb = "Somos distribuidores"
const seo = {
  title: title,
  description: desc,
};
---
<LayoutProd {seo} titlepage={title} subtitle={desc} >
  <section>
    <div class="container">
      <p class="mb-4">Nuestra amplia gama de señalización vial te permite cumplir con todas las normativas y garantizar un entorno seguro 
        para conductores, peatones y trabajadores. Desde señales preventivas hasta informativas, fabricadas con materiales de alta calidad y durabilidad, 
        nuestras soluciones te ayudarán a evitar accidentes, organizar el tráfico y mejorar la visibilidad en cualquier tipo de vía. 
        ¡Invierte en la seguridad de tu comunidad y empresa!"</p>

        <p>Ofrecemos una amplia variedad de diseños, tamaños y materiales para adaptarnos a tus necesidades específicas. 
          Ya sea para obras en construcción, estacionamientos, eventos o cualquier otro tipo de instalación, 
          nuestra señalización te ayudará a comunicar de manera clara y eficaz. ¡Contáctanos y descubre cómo podemos ayudarte a destacar tu proyecto!"</p>
    </div>
  </section>
  <ImageCenter  class="bg-zinc-1" imgurl={imgtop} altitle={title} textbt={txb}  />

</LayoutProd>
